<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
        <p>Sử dụng Bootstrap</p>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Thông tin người mua</h2>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="product-order">Khóa học đã đặt</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Khóa học</th>
                        <th scope="col">Học phí</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="Product Image" class="product-image">
                                <span class="product-name">Tên khóa học</span>
                            </div>
                        </td>
                        <td>xxx đ</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="Product Image" class="product-image">
                                <span class="product-name">Tên khóa học</span>
                            </div>
                        </td>
                        <td>xxx đ</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end ">Tổng tiền: 2xxx đ</h4>
            </div>
            <div class="text-start mt-3">
                <button class="btn btn-primary" type="button">Đặt mua</button>
            </div>
        </div>
    </div>    
</div>
